---
---

@import 'syntax.scss';

a {
	text-decoration: none;
	color: green;
}

.link-reset {
	color: inherit;	
}

p {
	margin: 10px 0px 10px 0px;	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #333;
	width: 100%;
	box-sizing: border-box;
}

.share_sidebar {
	min-width:200px;
	text-align: center;
}

.appbar {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	z-index: 999;
}


.appbar__logo {
	font-family: 'Bilbo', cursive;
	padding:13px 10px 10px 10px;
	font-size: 20px;
	margin-left: 50px;
}

.appbar__menu {
	margin:0;
	display: flex;
	padding: 5px;
	margin-left: auto;
	margin-right: 50px;
	list-style: none;
	color: #555;
}

.appbar__menu__item {
	padding:10px;
}

.appbar__menu__item-hover:hover {
	background-color: #eee;
}

.home_header {
	background: url('{{site.baseurl}}/images/header-background.png') no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
}

.home_header__content {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	transform: translate(-50%, -40%);
	font-family: 'Bilbo', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	text-shadow: -2px -2px #000;
	text-align: center;
}
.home_header__content__header {
	font-size: 60px;
}

.articles {
	padding: 25px 0px 25px 0px;
	text-align: center;
	max-width: 740px;
	margin: 0px auto 0px auto; 
	font-size: 18px;
}

.article {
	display: block;
	padding:0px 20px 10px 20px;
	margin: 15px 0px 5px 0px;
	transition: all 0.1s;
}

.article_wrapper {
	margin: 5px 0px 5px 0px;
}

.article:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.article__header {
	font-family: 'Open Sans', sans-serif;
	color: #5c6bc0;
	font-size: 40px;
	padding: 15px 5px 0px 5px;

}
.article_content {
	padding: 100px 10px 5px 10px;
	max-width: 800px;
	margin: 0px auto 40px auto;
}

.article__body {
	text-align: left;
}

.article__date {
	color: #777;
	padding: 0px 10px 0px 5px;
}

.article__text {
	font-size: 20px;
	line-height: 1.5;
	word-wrap: break-word;
	width: 100%;
}

.footer {
	text-align: center;
	padding:15px;
	margin-top: 50px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.button {
	border-radius: 3px;
	margin: 5px;
	padding: 5px 12px 5px 12px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.button-blue {
	background-color: #5c6bc0;
	color: #fff;
}


.tag {
	display: inline-block;
	font-size: 14px;
	padding:10px;
	background: #eee;
	border-radius: 3px;
	margin:5px;
}


.wrapper {
	display: flex;
}

.social-circle {
	display: inline-block;
	background-color: #eee;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.social-wrapper {
	margin: 10px;
	text-align: center;
}

.hollow-button {
	border: #fff solid 3px;
	background-color: rgba(255,255,255,0);
	padding: 10px 20px 10px 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin: 30px 0 0 0;

}

.hollow-button:hover {
	background-color: rgba(255,255,255,0.1);
}

.tag {
	display: inline-block;
	font-size: 14px;
	padding:7px;
	background: #eee;
	border-radius: 3px;
	margin:7px;
}

.about {
	font-size: 20px;
	display: flex;
	max-width: 800px;
	margin: 160px auto 200px auto;
}

.about__image {
	position: relative;
	min-width: 200px;
	min-height: 200px;
}

.about__image img {
	display: block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about__description {
	padding: 50px;
}

@media only screen and (max-device-width: 650px) {
	.appbar__logo {
		margin-left: 0px;
	}

	.appbar__menu {
		margin-right: 0px;
	}

	.blog_description {
		display: none;
	}

}

.contact {
	text-align: center;
	padding-top: 25px;
	img {
		display: block;
		width: 50px;
		height: 50px;
		margin: 10px;
		margin-right: 20px; 
	}


}

@media only screen and (max-device-width: 750px) {
	.share_sidebar {
		display: none;
	}

	.about {
		display: block;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
	}

	.contact img {
		display: inline;
		margin: 5px;
	}

	.about__description {
		padding-left: 10px;
		padding-right: 10px;
	}

}
pre, code {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #eee;
}

code {
	padding:1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

