<div class="contact">
	<a href="https://linkedin.com/in/{{site.linkedin_username}}" target="_blank">
		<img src="{{'/images/linkedin.svg' | relative_url}}" class="social-icon">
	</a>
	<a href="https://github.com/{{site.github_username}}" target="_blank">
		<img src="{{'/images/github.svg' | relative_url}}" class="social-icon">
	</a>
	<a href="https://facebook.com/{{site.facebook_username}}" target="_blank">
		<img src="{{'/images/facebook.svg' | relative_url}}" class="social-icon">
	</a>
	<a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
		<img src="{{'/images/twitter.svg' | relative_url}}" class="social-icon">
	</a>
</div>