<div class="contact">
	<a href="https://linkedin.com/in/{{site.linkedin_username}}" target="_blank">
		<img src="{{site.baseurl}}/images/linkedin.svg" class="social-circle">
	</a>
	<a href="https://github.com/{{site.github_username}}" target="_blank">
		<img src="{{site.baseurl}}/images/github.svg" class="social-circle">
	</a>
	<a href="https://facebook.com/{{site.facebook_username}}" target="_blank">
		<img src="{{site.baseurl}}/images/facebook.svg" class="social-circle">
	</a>
	<a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
		<img src="{{site.baseurl}}/images/twitter.svg" class="social-circle">
	</a>
</div>