<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
    <div class="container">
		{% include appbar.html %}
		<div class="banner">
			<div class="banner__content">
				<div class="blog__title">
					{{ site.title }}
				</div>
				<div class="blog_description">
					{{ site.description }}
				</div>
				<a class="button button--hollow button--large link--reset" href='{{"/feed.xml" | relative_url}}'>
					Subscribe via RSS
				</a>
			</div>
		</div>
		<div class = "post_list">
			{% for post in site.posts %}
				<a class="link--reset" href="{{ post.url | relative_url}}">
					<div class="post">
						<div>
							<div class = "post__header">
								{{ post.title }}
							</div>
							<div class = "post__date">
								On {{ post.date | date_to_long_string}}
							</div>
							<div class = "post__body">
								{{ post.excerpt }}
							</div>
						</div>
						<a class="link--reset tag"
						href="{{ post.category | slugify | prepend: '/categories/#' | relative_url}}">
							{{ post.category }}
						</a>
					</div>
				</a>
			{% endfor %}
		</div>
		{% include footer.html %}
	</div>
</body>
</body>
</html>