<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
    <div class="container">
		{% include appbar.html %}

		<div class="post_container">
			<div class="post">
				<div class="post__header">
					{{ page.title }}
				</div>
				<div class="post__date">
					On {{ page.date | date_to_long_string }}
				</div>
				<div class="post__text">
					{{ content }}
				</div>
			</div>
			<div class="share_container">
				Share This Post
				{% include facebook-share.html %}

				{% include twitter-share.html %}
				
				{% include googleplus-share.html %}
			
			</div>
		</div>
		<div class=tag_list>
			<a class="link--reset tag"
			href="{{ page.category | slugify | prepend: '/categories/#' | relative_url}}">
				{{ page.category }}
			</a>
		</div>
		<div class="inline_share_container">
			{% include facebook-share.html %}
			{% include twitter-share.html %}
			{% include googleplus-share.html %}

		</div>
		{% include footer.html %}
	</div>
</body>
</html>